//CHROMIUM_OUTPUT_PATH = /Users/yvonnedu/Source/CEF/chromium_git/chromium/src/out/$(CONFIGURATION)_GN_x64
//CHROMIUM_SRC_PATH = /Users/yvonnedu/Source/CEF/chromium_git/chromium/src/cef
//CHROMIUM_DLL_PATH = $(CHROMIUM_OUTPUT_PATH)/obj/cef

CHROMIUM_OUTPUT_PATH = /Users/yvonnedu/Downloads/CEF/$(CONFIGURATION)
CHROMIUM_SRC_PATH = /Users/yvonnedu/Downloads/CEF
CHROMIUM_DLL_PATH = /Users/yvonnedu/Downloads/CEF/libcef_dll_wrapper/$(CONFIGURATION)

CEF_FRAMEWORK_SEARCH_PATH1 = $(CHROMIUM_OUTPUT_PATH)

CEF_DLLLIB_SEARCH_PATH1 = $(CHROMIUM_DLL_PATH)

CEF_HEADER_SEARCH_PATH1 = $(CHROMIUM_SRC_PATH)/include
CEF_HEADER_SEARCH_PATH2 = $(CHROMIUM_SRC_PATH)

LIBRARY_SEARCH_PATHS = $(inherited) $(CEF_DLLLIB_SEARCH_PATH1)

USER_HEADER_SEARCH_PATHS = $(inherited) $(USER_HEADER_SEARCH_PATHS) $(CEF_HEADER_SEARCH_PATH1) $(CEF_HEADER_SEARCH_PATH2)

FRAMEWORK_SEARCH_PATHS = $(inherited) $(CEF_FRAMEWORK_SEARCH_PATH1)
